.wrapper {
   margin: 50px auto;
   width: 650px;
   text-align: center;
}

.wrapper h1 {
   margin-bottom: 50px;
}

.demo-block {
   background: red;
   width: 200px;
   height: 200px;
   display: inline-block;
}